<!DOCTYPE html>
<html ng-app="application">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="index.js"></script>
    <title>Склад</title>
</head>
<body>
    <div class="container" ng-controller="indexController">

        <h3>Учет товаров</h3>
        <span>Ценовой фильтр</span>
        <form     class="row g-3" novalidate  ng-submit ="filterByCost()">
            <div class="col-auto">
                <input class="form-control" type="number" placeholder="мин. цена"   ng-model="filters.min"/>
            </div>
            <div class="col-auto">
                <span >-</span>
            </div>
            <div class="col-auto">
                <input class="form-control" type="number" placeholder="макс. цена"  ng-model="filters.max"/>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-success" >Применить фильтр</button>
            </div>
        </form>
        <p></p>
        <table class="table table-hover" cellpadding="0" cellspacing="0" >


            <tr>
                <td>ID</td>
                <td>Наименование</td>
                <td>Цена(р)</td>
                <td></td>
            </tr>
            <tbody>
                <tr ng-repeat="p in getProductList">
                    <td>{{p.id}}</td>
                    <td>{{p.title}}</td>
                    <td>{{p.price}}</td>
                    <td>
                        <button class ="btn btn-outline-danger" ng-click="removeProduct(p.id)">X</button>
                    </td>
                </tr>

            </tbody>
        </table>

    </div>


</body>
</html>